---
name: python_test

'on':
  workflow_dispatch:
  push:
    branches:
      - master
  pull_request:

permissions:
  contents: read

jobs:
  python_test:
    runs-on: ${{matrix.os}}
    timeout-minutes: 90
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-24.04
        python-version: [3.12]

    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Set up Python ${{matrix.python-version}}
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: ${{matrix.python-version}}

      - name: Install dependencies
        run: |
          curl -sSL https://install.python-poetry.org | python3 -
          poetry install --with dev
      - name: Run liter
        run: |
          ./check_all_python_scripts.sh
      - name: Test with pytest
        run: |
          poetry run pytest -n 2
...
